---
import logoSbmfVertical from '~/assets/images/logo_sbmf_vertical.png';
---

<span class="self-center ml-2 rtl:ml-0 rtl:mr-2 flex items-center whitespace-nowrap">
  <img src={logoSbmfVertical.src} alt="SBMF logo" class="h-8 w-auto md:h-7" loading="eager" decoding="async" />
  <span class="ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-gray-900 dark:text-white">SBMF 2026</span>
</span>
